@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
	background-color: #fff !important;
}

.swiper-pagination-bullet-active {
	background-color: #fff !important;
}
.fill-red-600 {
	fill: #2e2e2e;
}
@layer components {
	.movie-grid-tabs-wrapper {
		@apply flex px-[1rem] text-center md:text-start  lg:px-[5rem] py-[4.5rem] text-lg lg:text-3xl font-semibold lg:gap-5 transition-all duration-150 gap-2;
	}
	.movie-grid-tabs {
		@apply relative px-3 transition duration-150 rounded-lg cursor-pointer;
	}
	.inactive-movie-grid-tab {
		@apply shadow-md hover:shadow-lg dark:border;
	}
	.movie-grid-tab-text {
		@apply p-2 transition-colors duration-500;
	}
	.movie-grid-tab-bg {
		@apply absolute top-0 left-0 w-full h-full bg-black rounded-md dark:bg-white -z-10;
	}
	.movie-grid {
		@apply grid transition-all duration-150 ease-in-out grid-cols-[repeat(auto-fit,minmax(150px,150px))]  md:grid-cols-[repeat(auto-fit,minmax(220px,220px))] place-content-center gap-5 lg:gap-10 xl:mx-[6rem] 3xl:mx-[12.5rem] overflow-hidden;
	}
	.movie {
		@apply cursor-pointer  transition-all duration-700 ease-in-out hover:opacity-[.90] shadow-[5px_5px_10px_#0000001e] rounded-xl w-[150px] h-[220px] md:w-[220px] md:h-[300px] relative overflow-hidden;
	}
}
