@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

.gradient-overlay {
	display: inline-block;
	background: -moz-linear-gradient(
		top,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 100%
	); /* FF3.6+ */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, rgba(0, 0, 0, 1)),
		color-stop(100%, rgba(0, 0, 0, 0))
	); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(
		top,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.6) 75%,
		rgba(0, 0, 0, 0.8) 100%
	); /* Chrome10+,Safari5.1+ */
}

@layer components {
	.movie-grid-tabs-wrapper {
		@apply flex px-[1rem] text-center md:text-start  lg:px-[5rem] py-[4.5rem] text-lg lg:text-3xl font-semibold lg:gap-5 transition-all duration-300 delay-300 gap-2;
	}
	.movie-grid-tabs {
		@apply relative px-3 transition duration-300 rounded-lg cursor-pointer;
	}
	.inactive-movie-grid-tab {
		@apply shadow-md hover:shadow-lg;
	}
	.movie-grid-tab-text {
		@apply p-2 transition-colors duration-500;
	}
	.movie-grid-tab-bg {
		@apply absolute top-0 left-0 w-full h-full bg-black rounded-md -z-10;
	}
	.movie-grid {
		@apply grid transition-all duration-300 delay-300 ease-in-out grid-cols-[repeat(auto-fit,minmax(150px,150px))]  md:grid-cols-[repeat(auto-fit,minmax(220px,220px))] place-content-center gap-5 xl:gap-10 xl:mx-[15rem] overflow-hidden;
	}
	.movie {
		@apply cursor-pointer  transition-all duration-700 ease-in-out hover:opacity-[.90] shadow-[5px_5px_10px_#0000001e] rounded-xl w-[150px] h-[220px] md:w-[220px] md:h-[300px] relative overflow-hidden;
	}
}
